<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="styles.css">

</head>
   

<style>
    
    header{
       font-family: Arial, Helvetica, sans-serif;
       font-size: larger;
        color: #000000;
        padding: 1rem;
        text-align: center;
    }
        


</style>


<header>

 <header>
        <h1>Resources for Notes</h1>
         <button><a href="https://www.cambridgeinternational.org" style="color: rgb(60, 43, 43); text-decoration: none;">Cambridge Syllabus</a></button>
         <button><a href="https://pastpapers.papacambridgeh.com" style="color: rgb(60, 43, 43); text-decoration: none;">Papacambridge</a></button>
         <button><a href="https://www.physicsandmathstutor.com" style="color: rgb(60, 43, 43); text-decoration: none;">PMT</a></button>
          <button><a href=https://www.savemyexams.com style="color: rgb(60, 43, 43); text-decoration: none;">SaveMyExam</a></button>
    </header>

</header>
